body {
    background-image: url('Jokuaren_fondoa.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.centrado {
    margin-top: 17%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
    text-align: center;
}
