

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    align-content: center;
    background-color: deepskyblue;
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
}



canvas {
    image-rendering: pixelated;
    
}
score{

    display:block;
    position:relative;
    top:60px;
    right:20px;
    font-size:30px;
    

}

